{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blogapp/style.css' %}" />
</head>
<body>

        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <header><div><h2 style="color:white; padding-left:20px; padding-top:20px;">  Login </h1></div></header>
            <ul>
               {% if messages %}
                   {% for message in messages %}
                       <li style="color: red;">{{ message }}</li>
                   {% endfor %}
               {% endif %}
            </ul>
            Username: <input type="text" name="username" value="" size="50" />
            <br/> <br/>
            Password: <input type="password" name="password" value="" size="50" />
            <br/><br/>

            <input type="submit" value="submit" />
        </form>
        <p> Or <a href="{% url 'register' %}">register</a> if you don't have an account</p>
</body>
</html>