{% load staticfiles %}

<!DOCTYPE html>

<html>

<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'blogapp/style.css' %}" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <header>
{#      <div class="wrap">#}

{#      <div id="story">#}
        {% for story in stories %}
{#            <span class="title">#}
{#            </span>#}
{#                <div class="time"> Created {{ story.date }}</div>#}

        <!-- Next/Prev page links  -->
            <div class="title_and_arrows">
                {% if stories.object_list and stories.paginator.num_pages > 1 %}
        {#        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">#}
                    {% if stories.has_previous %}
                            <span class= "newer_entries">
                            <a href= "{{ stories.previous_page_number }}"><img src="{% static 'blogapp/expand_arrow_alt_left.png' %}"></a>

                            </span>
                    {% endif %}
                {% endif %}
                <span class= "title_text"> {{ story.title }} </span>
                {% if stories.object_list and stories.paginator.num_pages > 1 %}
                    {% if stories.has_next %}
                        <span class= "older_entries">
                            <a href="{{ stories.next_page_number }}"><img src="{% static 'blogapp/expand_arrow_alt.png' %}"></a>
                        </span>
                    {% endif %}
                {% endif %}
            </div>
{#        </div>#}
{#        </div>#}
        <div class="time"> Created: {{ story.date }}</div>
        {% if user.is_authenticated %}
            <span class="user">
                Welcome {{ user.get_username }}!
            </span>
             <span class="logout">
                 <a style="color:aliceblue;" href="{% url 'logout' %}">logout</a>
             </span>

        {% else %}
              <span class="login">
                <a style="color:aliceblue;" href="{% url 'login' %}">Login</a>
              </span>
              <span class="register">
                <a style="color:aliceblue;" href="{% url 'register' %}">Register</a>
              </span>
        {% endif %}
{#        </div>#}
        <span>
            <form id="new_story" action="{% url 'new_story' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="New story">
            </form>
        </span>
    </header>

    <div class="body">{{ story.body|linebreaks }}</div>
         

{#    <div class= "add_submission">#}
    <div class="text_box">
        <form action='{{ stories.number }}/submission/'  method='post'>
            {% csrf_token %}
            <input type= "text" style="width:40em;" name="submission">
            <input type="hidden"  name="story_id" value="{{ story.pk }}">
            <input type="submit"  name="submission_button" value="Add entry">
        </form>
    </div>
{#    </div>#}

    <div class= "submissions">
{#        <div class= "submission_title">#}
{#        <div class= "submission_title2">#}
{#            <h1> Submissions </h1>#}
{#        </div>#}
{#        </div>#}
        {% for submission in submissions %}
            {% ifequal submission.story.pk story.pk %}
                <div class= "submission_box">
                <div class= "submission_box2">
                    <div class= "text"> {{submission.text}}</div>
                </div>
                </div>

                <div class= "likedislike">
                <form action="{{ stories.number }}/submission/{{ submission.pk }}/like/" style="display:inline-block;" method="post">
                    {% csrf_token %}
                    <input id="like" class="like" type="submit" value="like">
                </form>
                <form action="{{ stories.number }}/submission/{{ submission.pk }}/dislike/" style="display:inline-block;" method="post">
                    {% csrf_token %}
                    <input id="dislike" class="dislike" type="submit" value="dislike"/>
                 <div class="votes">{{ submission.votes }}</div>
                 </div>

                </form>
            {% endifequal %}
        {% endfor %}
    </div>
    {% endfor %}

{#    <div class= "new_story">#}
{##}
{#        </div>#}


    </div>
</body>
</html>