{% load staticfiles %}

<!DOCTYPE html>

<html>

<head lang="en">
    <link rel="stylesheet" type="text/css" href="{% static 'blogapp/style.css' %}" />
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div id="story">
        {% for story in stories %}
            <div class="title">
                <div class= "title_text"> {{ story.title }} </div>
            </div>
                <ul>
                    <div class="time">{{ story.date }}</div>
                    <div class="body">{{ story.body|linebreaks }}</div>
                </ul>

            <div class= "submissions">
                <div class= "submission_title">
                    <h1> Submissions </h1>
                </div>
                {% for submission in submissions %}
                    {% ifequal submission.story.pk story.pk %}
                        <div class= "submission_box">
                            <div class= "text"> {{submission.text}}</div>
                        </div>
                        <div class="votes">{{ submission.votes }}</div>
                        <form action="{{ stories.number }}/submission/{{ submission.pk }}/like/" style="display:inline-block;" method="post">
                            {% csrf_token %}
                            <input id="like" class="like" type="submit" value="like">
                        </form>
                        <form action="{{ stories.number }}/submission/{{ submission.pk }}/dislike/" style="display:inline-block;" method="post">
                            {% csrf_token %}
                            <input id="dislike" class="dislike" type="submit" value="dislike"/>
                        </form>
                    {% endifequal %}
                {% endfor %}
            </div>
        {% endfor %}


<form action='{{ stories.number }}/submission/' method='post'>{% csrf_token %}
<p> Add Entry: <input type= "text" name="submission">
<input type='submit' value='Submit' />
</form>

    

     <!-- Next/Prev page links  -->
        {% if stories.object_list and stories.paginator.num_pages > 1 %}
        <div class="pagination" style="margin-top: 20px; margin-left: -20px; ">
            <span class="step-links">
                {% if stories.has_previous %}
                    <div class= "newer_entries"> 
                    <a href= "{{ stories.previous_page_number }}"> &lt;&lt; </a>
                    </div>
                {% endif %}

                <span class="current">
                    <div class= "current"> 
                    &nbsp;{{ stories.number }} of {{ stories.paginator.num_pages }}
                    </div>
                </span>

                {% if stories.has_next %}
                    <div class= "older_entries">
                    <a href="{{ stories.next_page_number }}"> &gt;&gt; </a>
                    </div>
                {% endif %}
            </span>
        </div>
        {% endif %}

    </div>
</body>
</html>