{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blogapp/style.css' %}" />
</head>
<body>

{% block headline %} <header><div><h1 style="color:white; padding-left:20px; padding-top:20px;">  Register to vote and submit </h1></div></header>{% endblock %}

{% block content %}
    <form action='{% url 'register' %}' method="POST">
         {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit" />
    </form>
{% endblock %}
</body>
</html>