
.title{
	position: relative;
	font-size: 40px;
	margin-left: 41%;
}

.title_text {
	text-align: center;
	width: 6.5em;
}
.time {
	position: relative;
	margin-left: 41%;
	left: 2em;
}

.time {
	margin-top: -.5em;
}

.body {
	margin-left: 41%;
	width: 13em;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center;
	border: solid;
	border-width: 1px;
	margin-top: 1em;
}

.current {
	position: relative;
	margin-left: 41%;
	margin-top: -1em;
	left: 3.75em;
}

.newer_entries {
	position: absolute;
	left:41%;
	margin-left: -1em;
	top: 7em;
}

.older_entries {
	position: absolute;
	left: 41%;
	margin-left: 16.5em;
	top: 7em;
}

.submissions {
	position: relative;
	width: 100%;
	margin-top: 1em;
	margin-left: 41%;
}

.submission_box{
	position: relative;
	border: solid;
	border-width: 1px;
	width: 17em;
	margin-left: -.5em;

}

.submission_title {
	font-size: 12px;
	margin-left: 5.35em;
	margin-bottom: -.5em;
}

.text {
	text-align: center;
}

.votes{
    font-size: 14px;
    font-family: Times,serif;
    display:inline-block;
}

.like {
	font-size:12px;
	font-family:Times, serif;
	font-weight:normal;
	border-radius:16px;
	border:0px solid #68aa07;
	background-color:#89c403;
	color:#ffffff;
    display:inline-block;
}

.like:active {
	position:relative;
	top:1px;
}


.dislike {
	font-size:12px;
	font-family:Times, serif;
	font-weight:normal;
	border-radius:16px;
	border:0px solid #f04030;
	background-color: #ff0a27;
	color:#ffffff;
    display:inline-block;
}

.dislike:active {
	position:relative;
	top:1px;
}

.add_submission {
	padding-bottom: 1em;
	margin-left: 41%; 
}

.story_number {
	
}