
.title{
	position: relative;
	font-size: 40px;
	margin-left: 41%;
}

.title_text {
	text-align: center;
	width: 6.5em;
}
.time {
	position: relative;
	margin-left: 41%;
	left: 2em;
}

.time {
	margin-top: -.5em;
}

.story_box {
	margin-left: -19em;
}

.body {
	margin-left: 41%;
	width: 34em;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center;
	border: solid;
	border-width: 1px;
	margin-top: 1em;
}

.current {
	position: relative;
	margin-left: 41%;
	margin-top: -1em;
	left: 3.2em;
}

.newer_entries {
	position: absolute;
	left:41%;
	margin-left: -13em;
	top: 15em;
}

.older_entries {
	position: absolute;
	left: 41%;
	margin-left: 26.5em;
	top: 15em;
}

.submissions {
	position: relative;
	width: 100%;
	margin-top: 1em;
	margin-left: 41%;
	left: .3em;
}

.submission_box{
	position: relative;
	border: solid;
	border-width: 1px;
	width: 25em;
	margin-left: -6em;
	word-wrap: break-word;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;

}

.submission_title {
	font-size: 12px;
	margin-left: 4.8em;
	margin-bottom: -.5em;
}

.text {
	text-align: center;
}

.votes{
    font-size: 14px;
    font-family: Times,serif;
    display:inline-block;
}

.like {
	font-size:12px;
	font-family:Times, serif;
	font-weight:normal;
	border-radius:16px;
	border:0px solid #68aa07;
	background-color:#89c403;
	color:#ffffff;
    display:inline-block;
    margin-left: -8.5em;
}

.like:active {
	position:relative;
	top:1px;
}


.dislike {
	font-size:12px;
	font-family:Times, serif;
	font-weight:normal;
	border-radius:16px;
	border:0px solid #f04030;
	background-color: #ff0a27;
	color:#ffffff;
    display:inline-block;
    margin-left: -6em; }




.dislike:active {
	position:relative;
	top:1px;
}

.add_submission {
	padding-bottom: 1em;
	margin-left: 41%; 
}

.submission_entry {
	margin-left: -1.4em;
}

.new_story {
	padding-top: .5em;
	margin-left: 41%; 
}

.new_story_button {
	margin-left: 5.4em;
}
