
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #F0FAFF
}

header, .full-width {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5em;
}
.login {
 display: inline-block;
 margin-left: -23em;
}

.logout {
 position: relative;
 display: inline-block;

}

.register {
 display: inline-block;
}

.user {
 position: absolute;
 display: inline-block;
 margin-left: -23em;
}


.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}

.title{
	position: relative;
	font-size: 40px;
	text-align: center;
	padding-bottom: .25em;
	width: 15em;
}

.title_text {
	width: 6.5em;
	margin-left: 1.25em;
	color: white;
}
.time {
	position: relative;
	text-align: center;
	color: aliceblue;
	margin-left: -1.5em;
}

.time {
	margin-top: -.5em;
}

.story_box {
	margin-left: 50%;
}


.body {
	margin-left: -17.5em;
	width: 34em;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center;
	border: solid;
	border-width: 1px;
	margin-top: 2em;
	margin-bottom: 1em;
}

.current {
	position: relative;
	margin-left: 41%;
	margin-top: -1em;
	left: 3.2em;
}

.newer_entries {
	position: absolute;
	left:41%;
	margin-left: -4em;
	top: 3em;
	color: gray-white;
}

.older_entries {
	position: absolute;
	left: 41%;
	margin-left: 13.5em;
	top: 3em;
	color: aliceblue;
}

.submissions {

	margin-left: 50%;

}

.submission_box{
	position: relative;
	border: solid;
	border-width: 1px;
	width: 40em;
	margin-left: -21em;
	word-wrap: break-word;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	 display:inline-block;
}

.submission_title {
	font-size: 12px;
	margin-bottom: -.5em;
	margin-left: 45%;
}

.submission_title2 {
	margin-left: -26em;
}
.text {
	text-align: center;
}

.votes{
    font-size: 18px;
    font-family: Times,serif;
    display:inline-block;
    border-width: 1px;
    padding-left: .25em;
    padding-right: .25em;
    margin-right: .25em;
    width: 1em;
    }

.like {
	font-size:12px;
	font-family:Times, serif;
	font-weight:normal;
	border-radius:16px;
	border:0px solid #68aa07;
	background-color:#89c403;
	color:#ffffff;
    display:inline-block;

}

.like:active {
	position:relative;
	top:1px;
}


.dislike {
	font-size:12px;
	font-family:Times, serif;
	font-weight:normal;
	border-radius:16px;
	border:0px solid #f04030;
	background-color: #ff0a27;
	color:#ffffff;
    display:inline-block;
    margin-left: .25em; }




.dislike:active {
	position:relative;
	top:1px;
}

.add_submission {
	padding-bottom: 1em;
	margin-left: 50%;

}

.text_box {
	margin-left: -9em;
}

.submission_entry {
	margin-left: -1.4em;
}

.new_story {
	position: absolute;
	padding-top: .5em;
	margin-left: 85%; 
	top: .15em;
}

.errorlist {
    color: red;
}



